<div class="lists-container">
  <div class="lists-title">
    <h1><%= "#{@user.first_name} #{@user.last_name}'s Wish List" %></h1>
  </div>
  <div class="lists-links">
    <%= link_to "#{@user.first_name} #{@user.last_name}'s profile", user_path(@user) %>
    <%= link_to "#{@group.name}", group_path(@group.id) %>
  </div>
  <% santa = User.find(@user.santa_recipient.find_by(group_id: @group.id).santa_id) %>
  <% if authorized_user(santa) %>
    <div class="lists-private-secret-santa-message">
      <h2><%= "Private Message to #{santa.full_name}!"%></h2>
      <%= @list.santa_message %>
    </div>
  <% end %>
  <% if authorized_user(@user) %>
    <div class="lists-item-creation">
      <h2>Add item to wish list</h2>
      <%= render partial: 'items/form' %>
    </div>
    <div class="lists-santa-message-creation">
      <h2>Write a private message to your Secret Santa:</h2>
      <% if @list.santa_message.nil? %>
        <h3><%= link_to 'Add a message', controller: "lists", action: "new", id: @list %></h3>
      <% else %>
        <h3><%= link_to 'Edit', edit_group_list_path(@group, @list) %></h3> <h3><%= link_to 'Delete', group_list_path(@group, @list), method: :delete %></h3>
        Message: <%= "#{@list.santa_message}" %>
      <% end %>
    </div>
  <% end %>
  <div class="lists-items">
    <h2>Wish List Items</h2>
    <% if !@items.empty? %>
      <% @items.each do |item| %>
      <div class="lists-item">
        <%= link_to "#{item.name}", group_list_item_path(@group, @list, item.id) %>
      </div>
      <% end %>
    <% else %>
      <%= "#{@user.first_name} #{@user.last_name}'s list is empty." %>
    <% end %>
  </div>
</div>
