<% if current_user %>
  <h1><%= "Welcome, #{current_user.first_name || current_user.email}." %></h1>
  <%= link_to 'Profile', profile_path %>
  <%= link_to 'Sign Out', logout_path, method: :delete %>

  <% if @invitations %>
  <h2>Invitations</h2>
    <% @invitations.each do |invitation| %>
      <% if invitation.accepted.nil? %>
        <p>
          <% user = User.find(invitation.sender_id) %>
          <%= link_to "#{user.first_name} #{user.last_name}", user_path(invitation.sender_id) %><%= " has invited you to join the group "%><%= link_to "#{Group.find(invitation.group_id).name}!", group_path(invitation.group_id) %>
        </p>
        <p>
          <%= invitation.comment %>
        </p>
        <p>
          <%= link_to "Accept", accept_path(invitation.id)%> <%= link_to "Decline", decline_path(invitation.id)%>
        </p>
      <% end %>
    <% end %>
  <% end %>
  <h2>My Groups</h2>
  <%= link_to "Create a Group", new_group_path %>
  <br>
  <br>
  <% if !current_user.groups.empty? %>
    <%= render partial: 'users/groups', collection: current_user.groups %>
  <% else %>
    You are not part of any groups.
  <% end %>
<% end %>
