<h1>Log In</h1>

<%= form_tag sessions_path do %>
  <div>
    <%= label_tag :username_email, 'Username or email' %>
    <%= text_field_tag :username_email, params[:username_email] %>
  </div>
  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div>
    <%= submit_tag "Log In" %>
  </div>
<% end %>

<br>
<%= link_to 'Back to Homepage', root_path %>
