<%= form_for @group do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label 'group', 'Gift Due Date' %>
    <% if action_name == 'new' %>
      <%= date_field 'group', 'gift_due_date', min: Date.today %>
    <% else %>
      <%= date_field 'group', 'gift_due_date', min: @group.created_at %>
    <% end %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
