<%= form_for @group, html: { class: 'form-fields-container' } do |f| %>
  <div class="form-field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="form-field">
    <%= f.label 'group', 'Gift Due Date' %>
    <%= date_field 'group', 'gift_due_date', min: (action_name == 'new' ? Date.today : @group.created_at) %>
  </div>
  <div class="form-submit">
    <%= f.submit %>
  </div>
<% end %>
