<%= form_for @group do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :gift_due_date, 'Gift Due Date (YYYY/MM/DD)' %>
    <%= f.text_field :gift_due_date %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
