<%= form_for :invitation, { url: group_invite_path(@group.id) } do |f| %>
  <div>
    <%= label_tag 'Email' %>
    <%= email_field_tag 'email' %>
  </div>
  <div>
    <%= f.label :comment, "Message" %><br/>
    <%= f.text_field :comment %>
  </div>
  <div>
    <%= f.submit 'Submit' %>
  </div>
<% end %>
