<h1><%= @group.name %></h1>
<%= @group.description %>
<br>
<br>
<%= link_to 'Edit Group', edit_group_path %>
<%= link_to 'Delete Group', group_path, method: :delete, data: { confirm: 'Are you sure? This cannot be undone.' } %>
<br>
<br>
<% if !@user_list.empty? %>
  <%= link_to 'View your Wish list', group_list_path(@group, @user_list[0]) %>
<% else %>
  <%= link_to 'Create a Wish List', group_lists_path(@group), method: :post %>
<% end %>

<br>
<br>
Users in this group:
<ul>
  <% @group.users.each do |user| %>
  <% wish_list = user.lists.where(['user_id = :user_id and group_id = :group_id', { user_id: user.id, group_id: @group.id }]) %>
  <li><%= "#{user.first_name} #{user.last_name}: " %> <%= link_to 'Profile', user_path(user.id) %> <%= link_to "Wish List", group_list_path(@group.id, wish_list[0].id) unless wish_list.empty? %></li>
  <% end %>
</ul>




<br>
<%= link_to 'Back', dashboard_path %>
