<h1><%= @group.name %></h1>
<%= @group.description %>
<br>

Users in this group:


<br>
<%= link_to 'Edit Group', edit_group_path %>
<%= link_to 'Delete Group', group_path, method: :delete, data: { confirm: 'Are you sure? This cannot be undone.' } %>

<br>
<%= link_to 'Back', dashboard_path %>
