<div class="groups-container">
  <div class="groups-title">
    <h1><%= @group.name %></h1>
  </div>
  <div class="groups-description">
    <%= @group.description %>
  </div>
  <div class="groups-info">
    <div title="Due in <%= time_ago_in_words(@group.gift_due_date) %>">
      <h3>Gifts Due: <%= @group.gift_due_date.to_formatted_s(:long_ordinal) %></h3>
    </div>
    <% if @user_wish_list %>
      <h3><%= link_to 'My Wish List', group_list_path(@group, @user_wish_list.id) %></h3>
    <% end %>
  </div>
  <% if authorized_user(@group.owner) %>
    <div class="groups-owner">
      <h2>Manage Group</h2>
      <span class="edit-group"><%= link_to 'Edit Group', edit_group_path %></span>
      <span class="delete-group"><%= link_to 'Delete Group', group_path, method: :delete, data: { confirm: 'Are you sure? This cannot be undone.' } %></span>
      <h3>Send an invitation</h3>
      <%= render partial: 'invitations/group_form' %>
    </div>
  <% end %>
  <div class="groups-users">
    <h2>Group Users</h2>
    <div class="group-users-flex-container">
      <% @group.users.each do |user| %>
        <div class="user">
          <%= link_to "#{user.first_name} #{user.last_name}:", user_path(user.id) %>
          <%= link_to "Wish List", group_list_path(@group.id, @group.user_wish_list(user).id) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
