<%= form_for @user, namespace: 'password' do |f| %>
  <div>
    <%= f.label :password, 'New Password' %>
    <%= f.password_field :password, { id: 'new' } %>
  </div>
  <div>
    <%= f.label :password_confirmation, 'New Password Confirmation' %>
    <%= f.password_field :password_confirmation, { id: 'new_confirmation' } %>
  </div>

  <div>
    <%= label_tag 'current_password' %>
    <%= password_field_tag 'current_password' %>
  </div>
  <div>
    <%= f.submit 'Update Password' %>
  </div>
<% end %>
