<%= form_for @user, namespace: 'email', html: { class: 'form-fields-container-email' } do |f| %>
  <div class="form-field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="form-field">
    <%= f.label :current_password %>
    <%= f.password_field :current_password %>
  </div>
  <div class="form-submit">
    <%= f.submit 'Update Email' %>
  </div>
<% end %>
