<%= form_for @user, namespace: 'email' do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :current_password %>
    <%= f.password_field :current_password %>
  </div>
  <div>
    <%= f.submit 'Update Email' %>
  </div>
<% end %>
