<%= form_for @user, namespace: 'password', html: { class: 'form-fields-container-pass' } do |f| %>
  <div class="form-field">
    <%= f.label :password, 'New password' %>
    <%= f.password_field :password %>
  </div>
  <div class="form-field">
    <%= f.label :password_confirmation, 'New password confirmation' %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="form-field">
    <%= label_tag 'current_password' %>
    <%= password_field_tag 'current_password' %>
  </div>
  <div class="form-submit">
    <%= f.submit 'Update Password' %>
  </div>
<% end %>
