<h1>Profile</h1>
Name: <%= "#{@user.first_name} #{@user.last_name}" %>
<br>
Username: <%= @user.username %>
<br>
<% if authorized_user(@user) %>
Email: <%= @user.email %>
<br>
<% end %>

<% if @group_invitations %>
  <h2>Invite <%= "#{@user.first_name} #{@user.last_name}" %> to a Group</h2>
  <%= render partial: 'invitations/user_profile_form' %>
<% end %>

<% if authorized_user(@user) %>
  <%= link_to 'Update Your Information', edit_user_path(@user.id) %>
<% end %>
<br>
<%= link_to 'Back to Dashboard', dashboard_path %>
