<h1>Profile</h1>
Name: <%= "#{@user.first_name} #{@user.last_name}" %>
<br>
Email: <%= @user.email %>
<br>

<% if @group_invitations %>
  <h2>Invite <%= "#{@user.first_name} #{@user.last_name}" %> to a Group</h2>
  <%= render partial: 'invitations/form' %>
<% end %>

<% if @authorized_user %>
  <%= link_to 'Update Your Information', edit_user_path(@user.id) %>
<% end %>
<br>
<%= link_to 'Back to Dashboard', dashboard_path %>
