<%= form_for [ @user, @invitation ], html: { class: 'form-fields-container' } do |f| %>
  <div class="form-field">
    <%= f.collection_select(:group_id, @invitable_groups, :id, :name,
                             { prompt: 'Select Group' }) %>
  </div>
  <div class="form-field">
    <%= f.label :comment, required_label_maker('Message') %>
    <%= f.text_field :comment %>
  </div>
  <div class="form-submit">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
