<h1>Item Information</h1>
<%= link_to "#{@user.first_name} #{@user.last_name}'s profile", user_path(@user) %>
<ul>
  <li>Name: <%= "#{@item.name}" %></li>
  <li>Description: <%= "#{@item.description}" %></li>
  <li>Size: <%= "#{@item.size}" %></li>
  <li>Note: <%= "#{@item.note}" %></li>
</ul>

<% if authorized_user(@user) %>
<%= link_to 'Edit Item', edit_group_list_item_path(@group, @list, @item) %>
<%= link_to 'Delete Item', group_list_item_path(@group, @list, @item), method: :delete, data: { confirm: "Are you sure you want to delete item: #{@item.name}?" } %>
<% end %>
<br>
<%= link_to 'Back to List', group_list_path(@group, @list) %>
