<div class="items-container">
  <div class="items-title">
    <h1>Details for <%= "#{@item.name}" %></h1>
  </div>
  <div class="items-profile-link">
    <%= link_to "#{@user.full_name}'s Wish List", group_list_path(@group, @list) %>
  </div>
  <div class="items-data">
    <span><%= "Name: #{@item.name}" %></span>
    <span><%= "Description: #{@item.description}" %></span>
    <span><%= "Size: #{@item.size}" if @item.size %></span>
    <span><%= "Note: #{@item.note}" if @item.note %></span>
  </div>
  <% if authorized_user(@user) %>
    <div class="items-modify">
      <h2>Manage Item</h2>
      <%= link_to 'Edit Item', edit_group_list_item_path(@group, @list, @item) %>
      <%= link_to 'Delete Item', group_list_item_path(@group, @list, @item),
          method: :delete, data: { confirm: "Are you sure you want to delete item #{@item.name}?" } %>
    </div>
  <% end %>
  <% if current_user.belongs_to_group?(@group.id) %>
    <div class="comments-container lists-comments">
      <%= render 'comments/container', page: 'Item' %>
    </div>
  <% end %>
</div>
