<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('hat-favicon.ico') %>
  </head>

  <body>
    <div id="body-holder">
      <% flash.each do |type, message| %>
        <%= content_tag :div, sanitize(message), class: type %>
      <% end %>
      <%= render 'navbar/display' %>
      <%= yield %>
    </div>
      <%= render 'background/trees' %>
  </body>
</html>
